body {
  padding-bottom: 30px;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  font-family: 'Special Elite', monospace;  
  color: #282200;
}

p, form {
  color: #282200;
  font-family: 'Cutive Mono', monospace;
  font-size: 18px;
}

table {
  font-size: 16px;
  color: #282200;
  font-family: 'Cutive Mono', monospace;
}

.content {
  margin: 0 60px;
}

.page-header {
  margin-top: 20px;
}

a {
  color: #CCAC00;
}

a:hover {
  color: initial;
}

h1 {
  font-size: 48px;
}

nav {
  text-align: center;
  font-size: 18px;
  font-family: 'Special Elite', monospace;  
  font-weight: bolder;
}

nav a {
  font-family: 'Cutive Mono', monospace;
  color: #CCAC00;
}

nav ul {
  padding-bottom: 20px;
}

.nav-list {
  text-align: center;
}

.banner-row {
  height: 270px;
  margin-bottom: 20px;
}

/*modules*/
.highlight {
  color: #CCAC00;
}

.page-header {
  text-align: center;
}

#img-banner {
  background: #282200;
  position: absolute;
  left: 0;
  margin: 0 auto;

  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  justify-content: space-around;
}

.address {
  font-family: 'Special Elite', monospace;
  color: #282200;  
  width: 290px;
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
}

#vortex {
  color: orange;
  text-decoration: underline;
}

#vortex-img {
  display: none;
  position: fixed;
  top: 300px;
  right: 300px;
}

#vortex:hover {
  cursor: crosshair;
}

#vortex:hover #vortex-img {
  display: block;
}

.hotel-code {
  color: #CCAC00;
  font-weight: bold;
}

.hotel-table td, .hotel-table tr  {
  padding-left: 10px;
}

.hotel-table {
  margin-top: 20px;
  margin-bottom: 20px;
}

.watermark {
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
}

form#rsvp {
  font-size: 16px;
  border: 1px solid #CCAC00;
  margin-bottom: 70px;
  padding: 20px 15px;
}

.title-rsvp {
  margin-top: 0;
}

.checkboxes {
}

.checkrow {
  font-size: 12px;
  padding-left: 10px;
  margin-bottom: 0;
}

.checkrow li {
  display: inline-block;
  margin-right: 10px;
  width: 165px;
}

.btn-rsvp {
  margin: 10px auto;
  font-size: 18px;
  background-color: rgba(125,193,233,0.59);
}

select {
  background-color: #fff;
}

#humanity {
  display: inline;
  width: 80px;
}