ul {
  list-style: none;
}

h1, h2, h3 {
  font-family: 'Special Elite', monospace;  
  color: #282200;
}

p {
  color: #282200;
  font-family: 'Cutive Mono', monospace;
}


a:hover {
  color: initial;
}

h1 {
  font-size: 48px;
}

nav {
  text-align: center;
  font-size: 18px;
  font-family: 'Special Elite', monospace;  
  font-weight: bolder;
}

nav a {
  font-family: 'Cutive Mono', monospace;
  color: #CCAC00;
}

.row.pushdown {
  margin-bottom: 30px;
}

/*modules*/
.page-header {
  text-align: center;
}

#img-banner {
  background: #282200;
  position: absolute;
  left: 0;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
}
