<div class="container">
  <h2>Dear Out of Towners:</h2>
  <p>We, and by we I mean Nicole, have secured a group rate for rooms at at <strong><a href="https://bookings.ihotelier.com/Hotel-Le-Jolie/bookings.jsp?hotelId=97557#">Hotel le Jolie</a></strong>, which is a 3 star establishment whose front door I can hit with a football (to be certain I could at least do it with a <span id="vortex">nerf vortex<img id="vortex-img" src="howler.jpeg"></span>) from the entrance to our wedding venue.</p>

  <p>You can use our group code <strong class="hotel-code">STWG16</strong> to secure these rates from now until <strong class="hotel-code">Friday, April 29, 2016</strong>. You <strong>need</strong> need to book for Friday June 10th and Saturday June 11th to get this slightly more than 10% discount per night:</p>
  
  <div class="row">
    <table class="col-md-10 col-md-offset-1 hotel-table">
      <tr>
        <th>Type</th> <th>Rooms Available in Our Block</th> <th>Price per Night</th>
      </tr>
      <tr>
        <td>Standard w/ Queen Bed</td> <td>8</td> <td>$250</td>
      </tr>
      <tr>
        <td>Standard w/ 2 Twin Beds</td> <td>16</td> <td>$265</td>
      </tr>
      <tr>
        <td>Deluxe King Bed w/ a View</td> <td>6</td> <td>$285</td>
      </tr>
    </table>
  </div>

  <p>We also recommend looking at prices on Air BnB. You can review what's available in the area on the wedding weekend <a href="https://www.airbnb.com/s/Greenpoint--Brooklyn--NY--United-States?checkin=06%2F10%2F2016&checkout=06%2F12%2F2016&guests=&source=bb&ss_id=0s32hlpd">here</a>.</p>

</div>