<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Wrap Up Brunch at Spritzenhaus</h1>
      <p>What's a Brooklyn Wedding without a big old brunch to follow it up? We've reserved five big tables at <a href="http://www.spritzenhaus33.com/">Spritzenhaus</a>, a beer garden on the North Side of McCarren Park.</p>

      <p>We will be getting there, at 33 Nassau Ave, around noon on June 12th. We can order drinks and food from the counter, so guests can feel free to make their way over whenever is convenient. We have reserved large bench tables for a couple hours, so we can wrap up the weekend with some beers, pretzels, sausages, and perhaps a few salads and strolls in the park.</p>
    </div>
  </div>
</div>