<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Wrap Up Brunch at TK</h1>
      <p>What's a Brooklyn Wedding without a big old brunch to follow it up? We've arranged to accomodate as many of the group as want to drop by at TK, a beer garden in Williamsburg.</p>

      <p>Meet us there at noon on June 12th.</p>
    </div>
  </div>
</div>