<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Meet Us at the Shanty</h1>
      <p>For those of you who will be in town on the night prior to the wedding, <span class="highlight">June 10th, 2016</span>, we'd like you to join us at <a href="http://www.nydistilling.com/the-shanty/">The Shanty</a>, attached to the New York Distilling Company, just south of McCarren Park. (79 Richardson St.)</p>
      <p>Please drop by The Shanty at 8pm to connect and reconnect with the other wedding guests. We the couple will probably retire early, but there's nothing keeping our guests from celebrating as late as they'd like.</p>
    </div>
  </div>
</div>