<div class="container">

  <div class="row banner-row">
  <div class="col-md-12 hidden-xs" id="img-banner">
    <a class="fancybox" rel="group" href="trees.jpg"><img src="trees_small.jpeg" alt="" style="height:270px"/></a>

    <a class="fancybox" rel="group" href="nicole_champagne.jpg"> <img class="" style="height:270px" src="nicole_champagne_small.jpeg"></a>
    <a class="fancybox" rel="group" href="luke_bw.jpg"> <img class="" style="height:270px" src="luke_bw_small.jpeg"></a>
    <a class="fancybox" rel="group" href="socrates_chandelier.jpg"> <img class="" style="height:270px" src="socrates_chandelier_small.jpeg"></a>
    <a class="fancybox" rel="group" href="fall_street.jpg"> <img class="" style="height:270px" src="fall_street_small.jpeg"></a>
  </div>
  </div>

  <div class="row">
    <p>Join us as we get hitched and celebrate!</p>

    <p>The wedding, followed immediately by the reception, will take place <%=  %> days from now, at:</p>

    <div class="address">
      Night of Joy<br>
      667 Lorimer St (at Meeker)<br>
      Brooklyn, NY 11211<br>
    </div>
  </div>  
    

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox();
  });
</script>