<div class="container">

  <div class="row banner-row hidden-xs hidden-sm">
  <div class="col-md-12" id="img-banner">
    <a class="fancybox" rel="group" href="luke_bw.jpg"> <img class="" style="height:270px" src="luke_bw_small.jpeg"></a>
    <a class="fancybox" rel="group" href="nicole_champagne.jpg"> <img class="" style="height:270px" src="nicole_champagne_small.jpeg"></a>
    <a class="fancybox" rel="group" href="trees.jpg"><img src="trees_small.jpeg" alt="" style="height:270px"/></a>
    <a class="fancybox" rel="group" href="socrates_chandelier.jpg"> <img class="" style="height:270px" src="socrates_chandelier_small.jpeg"></a>
    <a class="fancybox" rel="group" href="fall_street.jpg"> <img class="" style="height:270px" src="fall_street_small.jpeg"></a>
  </div>
  </div>

  <div class="row">
  <div class="col-md-10 col-md-offset-2">
    <div class="col-md-11">
      <p>Join us on <span class="highlight">Saturday, June 11th, 2016</span> as we get hitched and celebrate!</p>
      
      <p>The wedding, followed immediately by the reception, will take place <span class="wedding-counter"><%= (Time.new(2016, 6, 11) - Time.now).to_i / (24 * 60 * 60) %> days</span> from now, at:</p>
    </div>

    <div class="address col-md-3 col-md-offset-3 col-xs-offset-1 col-sm-offset-1">
      <a href="http://nightofjoybar.com/">Night of Joy</a><br>
      667 Lorimer St (at Meeker)<br>
      Brooklyn, NY 11211<br>
      <br>
    </div>
    
    <div class="col-md-11">
      <p>Please arrive at the venue by 2:30pm. The ceremony will be held at 3pm, on the back deck. We'll have a combination of seats and standing room during the ceremony.</p>

      <p>A cash bar reception will immediately follow. There will also be a large sampling of Brooklyn's finest delivery cuisine. Oh, and the dress vibe is semi-formal.</p>
    </div>
    
  </div>
  </div>  
    

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox();
  });
</script>