<nav class="container">
<div class="row">
  <ul class="col-md-12 nav-list">
    <li class="col-md-2"><a href="/before">Night Before</a></li>
    <li class="col-md-2"><a href="/">Main Event</a></li>
    <!-- <li class="col-md-2"><a href="/after">Day After</a></li> -->
    <li class="col-md-2"><a href="/accomodations">Hotel</a></li>
    <li class="col-md-2"><a href="/registry">Registry</a></li>
    <li class="col-md-2"><a href="/rsvp">RSVP</a></li>
  </ul>
</div>
</nav>