<nav class="container">
<div class="row">
  <ul class="col-md-8 col-md-offset-2 nav-list">
    <li class="col-md-3"><a href="/">The Event</a></li>
    <li class="col-md-3"><a href="/accomodations">Hotel</a></li>
    <li class="col-md-3"><a href="/registery">Registery</a></li>
    <li class="col-md-3"><a href="/rsvp">RSVP</a></li>
  </ul>
</div>
</nav>