<div class="container">
  <div class="row">
    <h3 class="lead">Honeymoon? Yes please.</h3>
    <p>We've been living together for many years, and have actually stocked our little space in Bed-Stuy pretty throughly. Your presence on our wedding day is already such a gift, but if you would like to contribute to our married life after the knot is tied, we have an idea.</p>

    <p>We're planning a trip to Japan for our honeymoon. Nicole says she thinks we can stow away on a container ship out of the Bronx, but frankly I expect we'll need plane tickets. We may also want to have a meal or two while traveling.</p>

    <p>We set up a<a href="https://www.newlywish.com/registry/nicole-sohl-and-luke-thomas"> registery at Newlywish.com</a>, where you can contribute to our honeymoon. We can't thank you enough for your support in life, and in awesome vacation planning.</p>
  </div>
</div>