<div class="container">
  <div class="row">
    <div class="row banner-row hidden-xs hidden-sm">
      <div class="col-md-12 hidden-xs" id="img-banner">
        <a class="fancybox" rel="group" href="lucky_gods.jpg"> <img class="" style="height:270px" src="lucky_gods_small.jpeg"></a>
        <a class="fancybox" rel="group" href="monkeys.jpg"> <img class="" style="height:270px" src="monkeys_small.jpeg"></a>
        <a class="fancybox" rel="group" href="hotel.jpg"><img src="hotel_small.jpeg" alt="" style="height:270px"/></a>
        <a class="fancybox" rel="group" href="onsen.jpg"> <img class="" style="height:270px" src="onsen_small.jpeg"></a>
        <a class="fancybox" rel="group" href="puroland.jpg"> <img class="" style="height:270px" src="puroland_small.jpeg"></a>
        <a class="fancybox" rel="group" href="temple.jpg"> <img class="" style="height:270px" src="temple_small.jpeg"></a>
      </div>
    </div>

    <h3 class="lead">Honeymoon? Yes, please.</h3>
    <p>We've been living together for many years, and have actually stocked our little space in Bed-Stuy quite throughly. Your presence on our wedding day is already such a gift, but if you would like to contribute to our married life after the knot is tied, we have an idea.</p>

    <p>We're planning a trip to Japan for our honeymoon. Nicole says she thinks we can stow away on a container ship out of the Bronx, but frankly I expect we'll need plane tickets. We may also want to have a meal or two while traveling.</p>

    <p>We set up a<a href="https://www.newlywish.com/registry/nicole-sohl-and-luke-thomas"> registry at Newlywish.com</a>, where you can contribute to our honeymoon. We can't thank you enough for your support in life, and in awesome vacation planning.</p>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox();
  });
</script>