<div class="container">
<div class="row">
  <h3 class="lead title-rsvp" style="text-align: center;">Kindly Let Us Know by May 15th, 2016</h3>
  <div class="col-md-10 col-md-offset-1">

    <form class="col-md-12" id="rsvp" action="/rsvp" method="post">
    <div class="row">
      <div class="checkboxes">
        <h4 class="col-md-12">Will you be joining us?</h4>
        <ul class="checkrow">
          <li><input type="checkbox" name="attending" value="yes">  <label>Gladly Attend</label></li>
          <li><input type="checkbox" name="attending" value="yes">  <label>Regretfully Attend</label></li>
          <li><input type="checkbox" name="attending" value="yes">  <label>Spitefully Attend</label></li>
          <li><input type="checkbox" name="attending" value="yes">  <label>Deliriously Attend</label></li>
        </ul>
        
        <ul class="checkrow">
          <li><input type="checkbox" name="attending" value="no">  <label>Regretfully Decline</label></li>
          <li><input type="checkbox" name="attending" value="no">  <label>Gleefully Decline</label></li>
          <li><input type="checkbox" name="attending" value="no">  <label>Jealously Decline</label></li>
          <li><input type="checkbox" name="attending" value="no">  <label>Ennui</label></li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
      <label>Name: </label><input type="text" name="name">
      <label># in your party: </label>
      <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7+">7+</option>
      </select><br>
      <label>Email at which can keep you updated: </label><input type="text" name="email">    
      <textarea class="col-md-12 col-sm-12 col-xs-12" rows="4" name="comment" placeholder="Comments"></textarea>  
      </div>
    </div>
      <input class="col-md-4 col-md-push-4 btn btn-rsvp" type="submit">
    </form>
  </div>
</div>
</div>