<div class="container">
<div class="row">
  <h3 class="lead title-rsvp" style="text-align: center;">Kindly Let Us Know by May 15th, 2016</h3>
  <div class="col-md-10 col-md-offset-1">
  <% if !!@notice %>
    <p style="color: blue;"><%= @notice  %></p>
  <% end %>

    <form class="col-md-12" id="rsvp" action="/rsvp" method="post">
    <div class="row">
      <div class="checkboxes">
        <h4 class="col-md-12">Will you be joining us?</h4>
        <ul class="checkrow">
          <li><input type="checkbox" name="attending" value="yes">  <label>Gladly Attend</label></li>
          <li><input type="checkbox" name="attending" value="yes">  <label>Regretfully Attend</label></li>
          <li><input type="checkbox" name="attending" value="yes">  <label>Spitefully Attend</label></li>
          <li><input type="checkbox" name="attending" value="yes">  <label>Deliriously Attend</label></li>
        </ul>
        
        <ul class="checkrow">
          <li><input type="checkbox" name="attending" value="no">  <label>Regretfully Decline</label></li>
          <li><input type="checkbox" name="attending" value="no">  <label>Gleefully Decline</label></li>
          <li><input type="checkbox" name="attending" value="no">  <label>Jealously Decline</label></li>
          <li><input type="checkbox" name="attending" value="no">  <label>Ennui</label></li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
      <label>Name: </label><input type="text" name="name" required>
      <label># in your party: </label>
      <select form_id="rsvp" name="number">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7+">7+</option>
      </select>
      <label>Email at which can keep you updated: </label><input type="text" name="email" required>    
      <textarea class="col-md-12 col-sm-12 col-xs-12" rows="4" name="comment" placeholder="Comments (also if you are RSVPing for a group please list the names here)."></textarea>  
      </div>
      <br>
      <p style="margin-top: 10px;" class="col-md-12"><label>Human check! Fill in the blank:</label> <br>Something old, something new, something borrowed, something <input id="humanity" type="text" name="human" required>, and a silver sixpence in her shoe</p>
    </div>
      <input class="col-md-4 col-md-push-4 btn btn-rsvp" type="submit">
    </form>
  </div>
</div>
</div>